table
{
	background:#f4f4f4;
	color:#333;
	font:85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
}


/* titles */
table thead th
{
	background:#3A4856;
	color:#fff;
	font-weight:400;
	padding:10px 4px;
	text-align:center;
}

/* main table style */
table tbody,table thead
{
	text-align:left;
}

table tbody td,table tbody th
{
	border-bottom:1px solid #e3e6e8;
	padding:4px;
}

table tbody tr
{
	background:#f4f4f4;
}

table tbody tr:hover
{
	background:#cdd9e4;
	color:#111;
}