@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'feathericons';
	src:url('../fonts/feathericons/feathericons.eot?-8is7zf');
	src:url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'),
		url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'),
		url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'),
		url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
body.player {
    overflow: hidden;
}

.live {
    background-color: #ff0000 !important;
}

em {
    border-bottom: 1px dotted;
    cursor: help;
}

#statscontainer{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	height: 900px;
}

#accountcontainer{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#admincontainer{
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
	padding-bottom: 40px;
}

#statsdiv, #admindiv{
    height: 100%;
}

#statspage{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
    width: 100% !important;
    height: 100% !important;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
#wrap {
    margin: 0 auto -80px;
    padding: 0 0 120px;
}

.navbar-static-top {
    margin-bottom: 0;
}
.navbar-default .navbar-brand {
    color: #ebebeb;
    font-size: 1.5em;
}
a:hover .navbar-default{
    text-decoration: none;
    text-shadow: 0px 0px 10px #0286c9, 0px 0px 10px #0286c9;
}

.subtext {
    font-size: 0.5em;
}

.navbar-nav {
    margin: 0px -15px;
}

.navbar-default .fa {
    display: none;
}
@media (min-width: 768px) {
    .navbar-default .fa {
	display: inline-block;
    }
}

.row.list, .row.grid {
    display: none;
}
.channel-display {
	display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	width: 529px;
	padding: 0 9px;
}
.channel-display a{
    width: 529px;
	display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.channel-title {
	width: 529px;
	display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	text-align: left;
	padding: 0 9px;
}
.viewcount{
    position: absolute;
    bottom: 0px;
    right: 5px;
	border-radius: 2px;
	background: #4e5d6c;
}
.btn-record {
    width: 34px;
    height: 34px;
    padding: 6px;
    border-radius: 17px;
}

.btn-record .fa-stop,
.btn-record.recording .fa-circle {
    display: none;
}
.btn-record.recording .fa-stop,
.btn-record .fa-circle {
    display: inline;
}

.thumbnail {
    position: relative;
	border-radius: 3px;
}
.thumbnail a {
    display: inline-block;
}
.thumbnail a label {
    cursor: pointer;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #111;

    opacity: 0.7;
    z-index: 1;
}
body.live .cover {
    display: none;
}

.live-player {
    width: 100%; 
    height: 100%; 
    position: relative;
    margin:0 auto;
}
.channel {
    position: absolute;
    top: 20px;
    left: 20px;

    padding: 5px;

    background-color: #141414;
    background-color: rgba(20, 20, 20, 0.7);
    outline: 0;
    border: 0;
    border-radius: 0.2em;

    color: white;
    line-height: 1em;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    opacity: 0;
    z-index: 5;

    transition: opacity 300ms ease;
}
body:hover .channel {
    opacity: 1;
}
body.mouse-inactive .channel {
    opacity: 0;
}

.status {
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 5px;

    background-color: #141414;
    background-color: rgba(20, 20, 20, 0.7);
    border-radius: 0.2em;

    font-family: sans-serif;
    color: white;
    line-height: 1em;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    z-index: 5;
    transition: opacity 300ms ease;
}
.status i.circle {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: -2px 0px;
    background: #fff;
    border-radius: 0.5em;
}


body .status.offline {
    opacity: 1;
}
body.live .status.offline {
    opacity: 0;
}

body .status.live {
    opacity: 0;
}
body .thumbnail .status.live,
body.live .status.live,
body.live:hover .status.live {
    opacity: 1;
}
body.mouse-inactive .status.live {
    opacity: 0;
}

#player {
	background-color: #2b3e50;
}

.vjs-default-skin .vjs-play-progress,
.vjs-default-skin .vjs-volume-level {
    background-color: #cc6666;
}
.vjs-default-skin div.vjs-big-play-button{
    top: 50%!important; 
    left: 50%!important; 
    width:120px!important; 
    height:80px!important; 
    margin: -40px 0px 0px -60px!important; 
}

body.player.live .vjs-default-skin .vjs-progress-holder { display: none; }
body.player.live .vjs-default-skin .vjs-current-time, body.player.live .vjs-default-skin .vjs-time-divider { display: none; }
body.player.live .vjs-default-skin .vjs-duration { width: auto; }

footer {
    position: relative;
    height: 80px;
    text-align: center;
    background-color: #eee;
    padding: 30px;
}

/* Fancy hover effects for channel view */

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-shadow: 0px 0px 10px #000, 0px 0px 10px #000;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*---------------*/
/***** Sarah *****/
/*---------------*/

figure.effect-sarah {
	background: #4e5d6c;
}

figure.effect-sarah img {
	max-width: none;
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	/*-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/
}

figure.effect-sarah figcaption {
	text-align: left;
}

figure.effect-sarah h2 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah label {
	padding: 2px;
	opacity: 0;
	text-shadow: none;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

figure.effect-sarah:hover label {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@media screen and (max-width: 50em) {
	.content {
		padding: 0 10px;
		text-align: center;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}
