body.main,
body.main div#content #topic-input-real,
body.main div#content #input-prompt,
body.main div#content #topic-input,
body.main div#content {
	background : black;
	color : #cccccc;
}

body.main button.btn,
body.main #emoticon-prompt {
	background : #0000c6;
	color : yellow;
	border : 1px solid #393CFF;
	border-radius : 0px;
	box-shadow : none;
}

body.main div#content #input-prompt {
	border-color : transparent;
}

body.main div#header { 
	color : #cccccc;
	font-family : monospace;
}

body.main a {
	color : yellow;
}

body.main div#log span.gt,
body.main div#log span.lt {
	color : yellow;
}

body.main div#log span.message a:visited {
	color : #cccc00;
}

body.main div#log span.message {
	color : #cccccc;
}

body.main div#log span.sys-message:before {
	content : "> ";
}

body.main div#log span.sys-message {
	color : yellow;
}

body.main div#sidebar {
	background : black;
	width : 154px;
}

body.main ul#userlist-list li {
	color : yellow;
}

body.main #userlist span.user-img,
body.main #tabs-list span.conn-img {
	border-color : #393CFF;
	background : black;
}

body.main #tabs-list span.conn-img.connected {
	background : #00c600;
}

body.main #userlist span.user-img.voice {
	background : yellow;
}

body.main #userlist span.user-img.op {
	background : #0000c6;
}

body.main #nick {
	color : #cccccc;
}

body.main ul#tabs-list li,
body.main #input-prompt,
body.main div#topic #topic-input {
	font-family : monospace;
	color : #cccccc;
	border-radius : 0px;
	border-color : transparent;
}

body.main ul#tabs-list li.selected {
	border-color : #393CFF;
	background : black;
}

body.main ul#tabs-list li.selected {
	text-shadow : none;
}

body.main ul#tabs-list li.selected .close-img,
body.main ul#tabs-list li.selected div {
	color : yellow;
}

body.main div#content {
	border-color : #393CFF;
	border-radius : 0px;
	background : black;
}

body.main div#log {
	background : black;
	font-family : monospace;
	color : #cccccc;
	border-color : #555;
	border-radius : 0px;
}

body.main div#log .row:nth-child(even), .row:nth-child(even) td {
	background : black;
} 

body.main div#log .row.HL, body.main div#log .row.HL:nth-child(even) {
	background-color : black;
	border-color : #222;
}

body.main div#log .row.HL .message {
	color : yellow;
}

body.main .row {
	border-color : #222;
}

body.main .row:nth-child(even), .row:nth-child(even) td {
	background : black;
} 

