/.well-known/
/img/skype.svg
/img/test_bg.jpg
/img/watch_white.svg
/img/tick.svg
/lib/database.class.php
/nbproject
/nbproject/customs.json
/nbproject/project.xml
/nbproject/project.properties
/img/video/
/img/thumbs/
/img/channel/
/inc/index/serverinfo.php