@import "bootstrap.min.css";

body.main #content {
	background : #333;
	border-color : #333;
}

a {
	color : #65C1B9;
}

body.main #log a:visited {
	color : #6E9E96;
}

/*body.main #tabs-list li div {
	color : #65C1B9;
}

body.main #tabs-list li div.indented {
	color : white;
}*/

body.main #tabs-list li.selected {
	background : #333;
	border-color : #333;
}

body.main #tabs-list li .conn-img {
	background : #DC9656;
	border-color : #DC9656;
}

body.main #tabs-list li .conn-img.connected {
	background : #65C1B9;
	border-color : #65C1B9;
}

body.main #tabs-list li.selected .conn-img, 
body.main #tabs-list li.selected .close-img, 
body.main #tabs-list li .conn-img, 
body.main #tabs-list li .close-img {
	color : white;
	text-shadow : none;
}

body.main #tabs-list li.selected div {
	color : white;
	text-shadow : none;
}

#emoticon-prompt {
	right : 105px;
	font-size : 12px;
}

#connect-btn {
	font-size : 12px;
}

body.main #tabs-list {
	font-size : 14px;
}

body.main #nick {
	color : #ccc;
}

body.main #content #log {
	background : #181818;
	border-color : #333;

	font-size : 14px;
}

body.main #log .row .message {
	color : #eee;
}

body.main #log .row {
	border-color : #333;
}

body.main #log .row:nth-child(even) {
	background : #181818;
}

body.main div#log .row.HL, body.main div#log .row.HL:nth-child(even) {
	background : #222;
	border-color : #333;
}

body.main div#log .row.HL .message {
	color : #F7CA88;
}


body.main #log .row .timestamp {
	color : #BA8BAF;
}

body.main #log .row .sys-message {
	color : #7CAFC2;
}

body.main #log .gt,
body.main #log .lt {
	color : #65C1B9;
}

body.main div#content #topic-input-real,
body.main div#content #input-prompt,
body.main div#content #topic-input {
	background : #181818;
	color : white;
	font-size : 14px;
}

body.main #userlist {
}

body.main #userlist span.user-img.voice {
	background : #F39C12;
	border-color : #F39C12;
}

body.main #userlist span.user-img.op {
	background : #7CAFC2;
	border-color : #7CAFC2;
}

body.main #userlist span.user-img {
	background : #ccc;
	border-color : #ccc;
}

