body.main,
body.main div#content #topic-input-real,
body.main div#content #input-prompt,
body.main div#content #topic-input {
	background : #002B38;
	color : #839496;
}

body.main button.btn,
body.main #emoticon-prompt {
	background : #268BD2;
	color : #EEE8D5;
	border : 1px solid #073642;
	box-shadow : none;
	text-shadow : none;
}

body.main div#header { 
	color : #839496;
	font-style : italic;
}

body.main a {
	color : #B58917;
}

body.main div#log span.gt,
body.main div#log span.lt {
	color : #2AA198;
}

body.main div#log span.message a:visited {
	color : #CB4B21;
}

body.main div#log span.message {
	color : #839496;
}

body.main div#log span.sys-message {
	color : #859900;
}

body.main div#sidebar {
	background : #073642;
	width : 154px;
}

body.main ul#userlist-list li {
	color : #268BD2;
}

body.main #userlist span.user-img,
body.main #tabs-list span.conn-img {
	border-color : #002B38;
	background : #2AA198;
}

body.main #tabs-list span.conn-img.connected {
	background : #1DA17A;
}

body.main #userlist span.user-img.voice {
	background : #B58917;
}

body.main #userlist span.user-img.op {
	background : #CB4B21;
}

body.main #nick,
body.main ul#tabs-list li {
	color : #839496;
}

body.main #input-prompt,
body.main div#topic #topic-input {
	color : #839496;
	border-color : #0A5163;
}

body.main ul#tabs-list li.selected {
	border-color : #0A5163;
	background : #073642;
}

body.main ul#tabs-list li.selected {
	text-shadow : none;
}

body.main ul#tabs-list li.selected .close-img,
body.main ul#tabs-list li.selected div {
	color : #B58917;
}

body.main div#content {
	border-color : #0A5163;
	border-radius : 0px;
	background : #073642;
}

body.main div#log {
	background : #002B38;
	font-family : consolas, monospace;
	color : #839496;
	border-color : #0A5163;
	border-radius : 0px;
}

body.main div#log .row:nth-child(even), .row:nth-child(even) td {
	background : #002B38;
} 

body.main div#log .row.HL, body.main div#log .row.HL:nth-child(even) {
	background-color : #073642;
	color : #839496;
	border-color : #073642;
}

body.main div#log .row .timestamp {
	color : #268BD2;
}

body.main div#log .row.HL .message {
	color : #CB4B16;
}

body.main .row {
	border-color : #073642;
}

body.main .row:nth-child(even), .row:nth-child(even) td {
	background : #002B38;
} 

