.employer-form {
  padding: 0;
  width: $employer-form-width;
  background-color: $background-color;
  margin: 16px auto;

  .mdl-radio {
    width: 20%;
    margin-top: 22px;
    margin-bottom: 22px;
    color: $employer-form-color-brighter;

    span:first-of-type {
      margin-left: 10px;
    }
  }

  .form__article > span {
    float: left;
    width: 100%;
    color: $employer-form-color-darker;
    font-weight: 200;
  }

  .mdl-card__title {
    background-color: rgba(0, 0, 0, 0.3);
    height: 66px;
    width: 100%;
	padding: 16px $employer-form-horizontal-padding 0;
	display: block;
    @include typo-employer-form-header();
  }
  .mdl-card__title-login {
    background-color: "255,64,129";
    height: 48px;
    width: 100%;
    padding-bottom: 0;
    display: block;}
  .mdl-card__title-login h2:first-of-type {
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: 0; }
  .mdl-card__title-login .mdl-card__subtitle {
	font-size: 13px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.2);
	line-height: 1.2em; }

  button.mdl-button.mdl-button--colored {
    width: 68px;
    height: 32px;
    @include typo-employer-form-button();
    background-color: unquote("rgb(#{$color-primary})");

    &:disabled {
      background-color: gray;
      color: $employer-form-color-darker;
    }
  }

  label {
    font-size: 15px;
    color: $employer-form-color-darker;
  }

  .form__action {

    .mdl-checkbox {
      .mdl-ripple {
        background: unquote("rgb(#{$color-primary})");
      }

      &.is-checked {
        .mdl-checkbox__box-outline {
          border-color: unquote("rgb(#{$color-primary})");

          .mdl-checkbox__tick-outline {
            background: unquote("rgb(#{$color-primary})") url("#{$checkbox-image-path}/tick_dark.svg?embed");
          }
        }
      }
    }
  }
}




.employer-form__general_skills {
  margin-top: 24px;

  div {
    width: 100%;
  }

  h3 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .mdl-textfield label {
    color: $employer-form-color-darker;
  }

  .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: unquote("rgb(#{$color-primary})");
  }

  textarea {
    height: 90px;
  }
}

.employer-form__contacts {
  h3 {
    margin-bottom: 40px;
  }

  div {
    .mdl-textfield.getmdl-select .mdl-textfield__input {
      color: $employer-form-color-darker;
    }

    .mdl-textfield {
      padding-top: 0;

      label {
        top: 4px;
        font-weight: 300;
      }
    }

    i {
      color: $employer-form-color-brighter;
    }
  }
}

.login-form {
  padding: 0;
  width: $employer-form-width;
  background-color: $background-color;
  margin: 16px auto;

  .mdl-radio {
    width: 20%;
    margin-top: 22px;
    margin-bottom: 22px;
    color: $employer-form-color-brighter;

    span:first-of-type {
      margin-left: 10px;
    }
  }

  .form__article > span {
    float: left;
    width: 100%;
    color: $employer-form-color-darker;
    font-weight: 200;
  }

  .mdl-card__title {
    background-color: rgba(0, 0, 0, 0.3);
    height: 66px;
    width: 100%;
    padding: 16px $employer-form-horizontal-padding 0;
    display: block;
    @include typo-employer-form-header();
  }
  .mdl-card__title-login {
    background-color: "255,64,129";
    height: 48px;
    width: 100%;
    padding-bottom: 0;
    display: block;}
  .mdl-card__title-login h2:first-of-type {
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0; }
  .mdl-card__title-login .mdl-card__subtitle {
    font-size: 13px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.2);
    line-height: 1.2em; }

  button.mdl-button.mdl-button--colored {
    width: 68px;
    height: 32px;
    @include typo-employer-form-button();
    background-color: unquote("rgb(#{$color-primary})");

    &:disabled {
      background-color: gray;
      color: $employer-form-color-darker;
    }
  }

  label {
    font-size: 15px;
    color: $employer-form-color-darker;
  }

  .form__action {

    .mdl-checkbox {
      .mdl-ripple {
        background: unquote("rgb(#{$color-primary})");
      }

      &.is-checked {
        .mdl-checkbox__box-outline {
          border-color: unquote("rgb(#{$color-primary})");

          .mdl-checkbox__tick-outline {
            background: unquote("rgb(#{$color-primary})") url("#{$checkbox-image-path}/tick_dark.svg?embed");
          }
        }
      }
    }
  }
}

.settings-form {
  padding: 0;
  width: $employer-form-width;
  background-color: $background-color;
  margin: auto auto 28px auto;

  .mdl-radio {
	width: 20%;
	margin-top: 22px;
	margin-bottom: 22px;
	color: $employer-form-color-brighter;

	span:first-of-type {
	  margin-left: 10px;
	}
  }

  .form__article > span {
	float: left;
	width: 100%;
	color: $employer-form-color-darker;
	font-weight: 200;
  }

  .mdl-card__title {
	background-color: rgba(0, 0, 0, 0.3);
	height: 66px;
	width: 100%;
	padding: 16px $employer-form-horizontal-padding 0;
	display: block;
	@include typo-employer-form-header();
  }
  .mdl-card__title-login {
	background-color: "255,64,129";
	height: 48px;
	width: 100%;
	padding-bottom: 0;
	display: block;
  }
  .mdl-card__title-login h2:first-of-type {
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: 0;
  }
  .mdl-card__title-login .mdl-card__subtitle {
	font-size: 13px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.2);
	line-height: 1.2em;
  }

  button.mdl-button.mdl-button--colored {
	width: 68px;
	height: 32px;
	@include typo-employer-form-button();
	background-color: unquote("rgb(#{$color-primary})");

	&:disabled {
	  background-color: gray;
	  color: $employer-form-color-darker;
	}
  }

  label {
	font-size: 15px;
	color: $employer-form-color-darker;
  }

  .form__action {

	.mdl-checkbox {
	  .mdl-ripple {
		background: unquote("rgb(#{$color-primary})");
	  }

	  &.is-checked {
		.mdl-checkbox__box-outline {
		  border-color: unquote("rgb(#{$color-primary})");

		  .mdl-checkbox__tick-outline {
			background: unquote("rgb(#{$color-primary})") url("#{$checkbox-image-path}/tick_dark.svg?embed");
		  }
		}
	  }
	}
  }
}

.avatar-form {
  padding: 0;
  width: 532px;
  background-color: $background-color;
  margin: auto auto 28px auto;

  .mdl-radio {
	width: 20%;
	margin-top: 22px;
	margin-bottom: 22px;
	color: $employer-form-color-brighter;

	span:first-of-type {
	  margin-left: 10px;
	}
  }

  .form__article > span {
	float: left;
	width: 100%;
	color: $employer-form-color-darker;
	font-weight: 200;
  }

  .mdl-card__title {
	background-color: rgba(0, 0, 0, 0.3);
	height: 66px;
	width: 100%;
	padding: 16px $employer-form-horizontal-padding 0;
	display: block;
	@include typo-employer-form-header();
  }
  .mdl-card__title-login {
	background-color: "255,64,129";
	height: 48px;
	width: 100%;
	padding-bottom: 0;
	display: block;
  }
  .mdl-card__title-login h2:first-of-type {
	font-size: 24px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.2em;
	margin-top: 0;
	margin-bottom: 0;
  }
  .mdl-card__title-login .mdl-card__subtitle {
	font-size: 13px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.2);
	line-height: 1.2em;
  }

  button.mdl-button.mdl-button--colored {
	width: 68px;
	height: 32px;
	@include typo-employer-form-button();
	background-color: unquote("rgb(#{$color-primary})");

	&:disabled {
	  background-color: gray;
	  color: $employer-form-color-darker;
	}
  }

  label {
	font-size: 15px;
	color: $employer-form-color-darker;
  }

  .form__action {

	.mdl-checkbox {
	  .mdl-ripple {
		background: unquote("rgb(#{$color-primary})");
	  }

	  &.is-checked {
		.mdl-checkbox__box-outline {
		  border-color: unquote("rgb(#{$color-primary})");

		  .mdl-checkbox__tick-outline {
			background: unquote("rgb(#{$color-primary})") url("#{$checkbox-image-path}/tick_dark.svg?embed");
		  }
		}
	  }
	}
  }
}