.idea/workspace.xml
.idea/tasks.xml
local.css
local_notheme.css
local.js
cache/js/*
config.php
messages.pot
messages.mo
lib/*.jar
out
daemon/libs/*.jar
build.number
lock/*.lock
emoticons/*.gif
emoticons/*.png
emoticons/map_local.php
manifest.mf
backend.jar
locale/xx_XX/LC_MESSAGES/borkify
themes/xmas
server.sh
bin/*
/bin
emoticons/emoticons.ini
